header {
    font-size: 5vmin;
    text-align: center;
}

h1 {
    font-size: 2vmin;
    padding: 10px;
    font-style: italic;
}

#gameBoard {
        width: 500px;
        height: 500px;
        
        display: inline-grid;
        grid-template-columns: auto auto auto;
        padding: 10px;
}

.sq {
    background-color: pink;
    border: 1px solid rgba(0, 0, 0, 0.8);
    /* padding: 20px; */
    /* font-size: 30px;
    text-align: center; */
}


   






