.game-board {
    display: grid; 
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
    padding: 20px;
}

#box {
    
    background-color: black;
    border-color:blue;
    border-style: solid;
    border-radius: 12px;
}